//colors

$color-red-orange: #ee2523;
$color-nero: #1f1f1f;
$color-black: #000000;
$color-white: #ffffff;
$color-white-smoke-darknest: #f8f8f8;

$medium-sea-green:#48b774;
$color-charcoal: #4a4a4a;
$color-atomic-tangerine: #fb9b69;
$color-white-smoke: #f2f2f2;
$color-whisper-standart: #e5e5e5;
$color-mint-cream: #ecf7f3;
$color-night-rider: #2d2d2d;
$color-coral: #ff8345;
$color-gray: #7c7c7c;
$color-gainsboro: #dedede;
$color-nobel: #a1a1a1;
$color-dim-gray: #707070;
$color-atomic-tangerine-light: #fd905a;

$color-whisper: #e7e5e5;
$color-whisper-lightness: #eeeeee;
$color-whisper-darknest: #eaeaea;
$color-light-black: #010101;
$color-dark-green: #000101;
$color-seagull: #81b3d2;
// $color-night-rider: #333333;
$color-pink-swan: #b3b3b3;
$color-shakespeare: #669ec0;
$color-shakespeare-darknest: #5496bd;
$color-roman-coffee: #766357;
$color-light-gray-lightness: #d5d5d5;
$color-light-gray: #d6d6d6;
$color-gainsboro: #dbdbdb;


//шрифты
$ff-inter: "Inter", "Arial", sans-serif;


// Viewports

$vp-768: 768px;
$vp-1200: 1200px;
$vp-1920: 1920px;
